[defaults]
inventory_plugins = ./inventory_plugins

[inventory]
# Modifying enable_plugins overrides the default list of enabled plugins so librenms is
# appended here to the default list as per the Ansible documentation.
enable_plugins = host_list, script, auto, yaml, ini, toml, librenms
