# Example command line: ansible-inventory -v --list -i librenms.yml
# Remember to export LIBRENMS_TOKEN: export LIBRENMS_TOKEN=abc
plugin: librenms
api_endpoint: https://librenms-host.local/api/v0
validate_certs: true

cache: true
cache_plugin: jsonfile
cache_connection: /tmp/librenms_inventory_cache
cache_timeout: 600

exclude_disabled: true
exclude_ignored: true

# Parse a device's Notes field as YAML and set the result as host vars - see the
# README's Grouping section.
# parse_notes_field: true

group_name_regex_filter:
  - ^group name1$
  - ^group name2$
